spring:
  application:
    name: bit
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/bit_app_db?createDatabaseIfNotExist=true&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cache:
    type: simple

app:
  redis:
    enabled: ${APP_REDIS_ENABLED:false}
  base-url: ${BASE_URL:https://3akare.vercel.app}

scalar:
  openapi:
    url: "/v3/api-docs"
  endpoint: "/docs"
  theme: "purple"
